{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {}
}
